
.lista-servicios {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start ; /* Esto alineará las tarjetas al inicio */
    padding: 20px; /* Espacio alrededor del contenedor */
}

.servicio {
    flex:0 0 calc(50% - 20px);
    box-sizing: border-box;
}

@media screen and (max-width: 992px) {
    .lista-servicios {
        margin: 50px;
        display: inline;
    }
    .servicio {
        width: 0 0 calc(50% - 20px);
        margin: 20px;
    }
}