.formulario-contacto {
    display: block;
    width: 50%;
    max-width: 700px;
    margin-left: 90px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    border-color: black;
}

.formulario-contacto button {
    width: 200px;
    border-radius: 20px;

}

.form-label.required::after {
    content: " *";
    color: red;
}


.formulario-contacto .btn {
    align-self: flex-start; 
}

@media screen and (max-width: 992px) {
    .formulario-contacto {
        width: 100%;
        margin: 0 auto; 
        padding: 20px;
    }
}

@media screen and (max-width: 768px) { /* 768px es un punto de corte común para dispositivos móviles */
    .formulario-contacto button {
        width: 100%;    
    }
}